* {
	box-sizing: border-box;
	font-family: Helvetica;
}

h2 {
	font-size: 30px ;
}

/*This is the header section*/

header {
	display: flex;
	flex-direction: column;
	background-color: white;	
}

h1 {
	font-family: cursive;
	font-size: 50px;
	margin: 20px auto;
}


	nav {
		display: flex;
		margin: 20px auto;
		gap: 20px;
		justify-content: space-evenly;
	}

	nav a {
		text-decoration: none;
		font-weight: bold;
		color: black;
	}

/*Introduction/Welcome  section*/

.introduction_section {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	column-gap: 20px;
	width: 100%;
	height: 500px;
	background-image: url(images/horse_head_nebula.jpg); /* a place-holder image */ 
	background-size:cover; /* allows to get the background in the whole section*/
}

.introduction_section h2 {
	background-color: white;
	color: black;
	font-variant: small-caps;
	margin-left: 550px;
}

.introduction_section p {
	background-color: black;
	color: white;
	margin-left: 550px;
	font-size: 25px;
}


/* About me section */

.aboutMe_section {
	display: flex;
	flex-direction: column;
}

.aboutMe_section img {
	width: 200px;
}




@media screen and (max-width:800px) {  
/*On the mobile version, there will be no navbar*/
	nav{
		display: none;
	}
	
/*	.introduction_section {
		background-image: none;
		background-color: black;
	}
*/	
	.introduction_section h2 {
		margin: 20px;	
	}

	.introduction_section p {
		margin: 20px;
	}
	
	
}



/*.introduction_section h2, .introduction_section p {
	color: white;
	padding-right: 30px;
}*/