/* Generic Styling */ 

* {
	box-sizing: border-box;
	font-family: Helvetica;
}

h1 {
	font-family: cursive;
	color: white; /*#d65a64;*/
	font-size: 50px;
	margin: 20px auto;
}

h2 {
	font-size: 30px ;
	color: #d65a64; /*white;*/	
}

h3 {
	color: white;	
}


p {
	color: white;
}

a {
	text-decoration: none;
	font-weight: bold;
	color: #d65a64; /*white;*/
}

/*This is the header section*/

header {
	display: flex;
	flex-direction: column;
	background-color: #262323;	
}


nav {
	display: flex;
		margin: 20px auto;
		gap: 20px;
		justify-content: space-evenly;
}

/*nav a {
	text-decoration: none;
	font-weight: bold;
	color: #d65a64;
}
*/

/* Introduction/Welcome  section*/

.introduction_section {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	column-gap: 20px;
	width: 100%;
	height: 900px;
	background-image: url(images/horse_head_nebula.jpg); /* a place-holder image */ 
	background-size:cover; /* allows to get the background in the whole section*/
}

.introduction_section h2 {
	background-color: white;
	color: black;
	font-variant: small-caps;
	margin-right: 50px;
}

.introduction_section p {
	background-color: black;
	color: white;
	margin-right: 50px;
	font-size: 25px;
}


/* About me section */

.aboutMe_section {
	display: flex;
  flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	background-color: #262323;
	padding-top: 50px;
	padding-bottom: 50px;
	
}

.aboutMe_card {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	margin-left: 50px;
	gap: 20px;
}

.aboutMe_section img {
	width: 200px;
	height: 250px;*/
}

.aboutMe_section h2 {
		margin-left: 50px;
	}

.aboutMe_text {
	display: flex;
	flex-direction: column;
	align-items: flex-start ;		
	max-width: 1000px;
	gap: 20px;
}

.aboutMe_text p, .aboutMe_text a {
	font-size: 24px;
}

/* Portfolio section  */ 

.portfolio_section {
	background-color: #171616;
	padding: 0 50px;
}

.portfolio_section h2 {
	margin-top: 0;
	padding: 20px;
	margin-left: 50px;
}

.project_cards_container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-left: 50px;
	margin-right: 50px;
	gap: 50px 200px;*/
}

.project_card {
	border: 2px solid #262323;
	display: flex;
	flex-direction: column;
	justify-content: flex-starts;
	max-width: 400px;
	padding: 20px;
}

.project_card img, .project_card p {
	height: 200px;
}

.project_links_bar {
	display: flex;
	justify-content: space-between;
}
					
.contact_section{
	margin: 0;
	padding: 20px;
	background-color: #262323;	
	
}					

footer {
	margin: 0;
	padding: 20px;
	background-color: #171616;	
	
}					
.contact_logos_bar {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}								

.contact_logos_bar img { 
	height: 100px;
}

@media screen and (max-width:800px) {  
/*On the mobile version, there will be no navbar*/
	nav{
		display: none;	
	}
	
	.introduction_section h2, .introduction_section p, .aboutMe_card, .aboutMe_section h2, .portfolio_section h2 {
		justify-content: center;
		margin: 10px 20px;
	}
	
	

/*.introduction_section h2, .introduction_section p {
	color: white;
	padding-right: 30px;
}*/