/* GENERIC STYLING */ 

* {
	box-sizing: border-box;
	font-family: Helvetica, sans-serif;
	font-size: 10px;
}

h1 {
	font-family: 'Playfair Display', cursive;
	color: #ebedf0; /*a grey-ish white*/
	font-size: 7rem;
	margin: 20px auto;
}

h2 {
	font-size: 3rem ;
	color: #d65a64; /* cute pink colour*/	
	margin: 0 50px;
}

h3 {
	color: #ebedf0;	
	font-size: 2rem;	
}

p {
	color: #ebedf0;
	font-size: 1.8rem;
}

a {
	text-decoration: none;
	font-weight: bold;
	color: #d65a64; 
	font-size: 1.8rem;
}

.about_me_section, .portfolio_section, .contact_section {
	padding-top: 30px;
	padding-bottom: 30px;
}

/* HEADER SECTION*/

header {
	display: flex;
	flex-direction: column;
	background-color: #262323;
	padding: 20px;	
}

nav {
	display: flex;
	margin: 20px auto;
	gap: 20px;
	justify-content: space-evenly;
}

nav a {
	font-size: 2.5rem;
}


/* INTRODUCTION/WELCOME SECTION */

.introduction_section {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	height: 900px;
	background-image: url(images/horse_head_nebula.jpg); 
	background-size:cover; 
}

.introduction_section h2 {
	color: white;
	font-size: 5rem;
	font-variant: small-caps;
	margin-left: 30%;
	margin-right: 15%;
}

.introduction_section p {
	background-color: rgba(0,0,0,0.5);
	color: white;
	margin-left: 30%;
	margin-right: 15%;	
	font-size: 3.5rem;
	font-variant: small-caps;	
}


/* ABOUT ME SECTION */

.about_me_section {
	background-color: #262323;	
}

.about_me_card {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	margin-left: 50px;
	gap: 75px;
}

.about_me_section img {
	object-fit: cover;
	width: 200px;
	border-radius: 10px;
}

.about_me_text {
	display: flex;
	flex-direction: column;
	align-items: flex-start ;		
	max-width: 1000px;
}

.about_me_text p, .about_me_text a, .portfolio_intro_text{
	font-size: 2.4rem;
}

.inline_link{
	text-decoration: underline;
	font-weight: normal;
}

.solo_link{
	color: white;
	background-color: #d65a64;
	padding: 5px;
	border-radius: 10px;
}

/* PORTFOLIO SECTION */ 

.portfolio_section {
	background-color: #171616;
}

.portfolio_intro_text {
	margin: 20px 50px;
}
.project_cards_container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: 20px 50px;
	gap: 50px 200px;
}

.project_card {
	border: 2px solid #262323;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	max-width: 400px;
	padding: 20px;
	border-radius: 10px;
}

.project_card img {
	height: 200px;
	object-fit: cover;
}

.project_text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}
.project_links_bar {
	display: flex;
	justify-content: space-between;
}


/* CONTACT AMD FOOTER SECTIONS */
					
.contact_section {
	margin: 0;
	background-color: #262323;	
}		

.contact_section p {
	margin: 50px 50px;
	font-size: 2.4rem;
}			
					
.contact_logos_bar {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	gap: 50px;
	padding-left: 50px;
}								

.contact_logos_bar img { 
	height: 100px;
}

footer {
	margin: 0;
	padding: 20px;
	background-color: #171616;	
	
}

/* A FEW ADAPTATIONS FOR MOBILE DISPLAY */

@media screen and (max-width:800px) {  
/*On the mobile version, there will be no navbar*/
	nav {
		display: none;	
	}
		
	.introduction_section h2, .introduction_section p, .about_me_card, .about_me_section h2, .portfolio_section h2 {
	 	margin: 10px 20px;
	}
	
	.about_me_card {
		justify-content: center;
	}
}